@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@700&display=swap');

* {
    box-sizing: border-box;
}

html {
    --black: #181818;
    --blue: #5C41FE;
    --white: #FBFBFB;
    --orange: #E7411B;
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 14.3rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1919px) {
    h1 {
        font-size: max(2.5rem, 11.95vw);
    }
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 11.5vw;
    }
}

@media screen and (max-width: 1280px) {
    h1 {
        margin-bottom: 3rem;
    }
}

h1 .row-1 {
    display: block;
    width: 100%;
    text-align: center;
    word-break: break-word;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1024px) {
    h1 .row-1 {
        /*font-size: 2.25rem;*/
        font-size: max(12.05vw, 2.25rem);
        text-align: right;
    }
}

h1 .row-1:after {
    content: "";
    display: inline-block;
}

h1 .row-2 {
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
}

/*@media screen and (max-width: 1919px) {*/
/*    h1 .row-2 {*/
/*        font-size: 2vw;*/
/*    }*/
/*}*/

@media screen and (max-width: 1280px) {
    h1 .row-2 {
        font-size: 3vw;
    }
}

@media screen and (max-width: 1024px) {
    h1 .row-2 {
        /*font-size: 1rem;*/
        font-size: max(5vw, 1rem);
    }
}

p {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.overflow-hidden {
    overflow: hidden;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.container {
    /*width: 100%;*/
    max-width: 1840px;
    margin: 0 auto;
    padding: 0 60px;
}

@media screen and (max-width: 1540px) {
    .container {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
}

.header {
    width: 100%;
    padding: 15px 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    position: fixed;
    z-index: 2;
}

.header.scrolled {
    background-color: var(--black);
}

.header-background {
    background-color: var(--black);
}

@media screen and (max-width: 1024px) {
    .header {
        background-color: var(--black);
    }
}

.header-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-logo-wrp {
    display: flex;
    align-items: center;
}

.header .header-logo {
    width: 100%;
    max-width: 100px;
    display: block;
}

.header ul, .header li {
    list-style: none;
    padding: 0;
    color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

.header .content,
.header .menu-wrp {
    gap: 50px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .header .content {
        display: none;
    }
}

.header .social-media-wrp {
    gap: 25px;
}

.social-media .social-icon {
    width: 24px;
    height: 24px;
}

.social-media-list-item {
    display: flex;
    align-items: center;
}

/* --- Mobile header menu --- */
.header-collapse-mobile-wrp {
    width: 100%;
    background-color: var(--black);
    position: absolute;
    left: 0;
    right: 0;
    top: 72.85px;
}

.header-collapse-mobile {
    min-height: calc(100vh - 72.85px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-navigation .list-item {
    text-transform: uppercase;
    padding: 1.5rem 0.75rem;
    border-bottom: 1px solid #8B8986;
}

.header-collapse-mobile-wrp .social-media {
    width: 100%;
    margin: 0 auto;
}

.header-collapse-mobile-wrp .social-media-wrp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.header-collapse-mobile-wrp .social-icon {
    width: 36px;
    height: 36px;
}
/* --- End mobile header menu --- */

button, .button {
    cursor: pointer;
}

.section {
    width: 100%;
    /*min-height: 100vh;*/
    padding: 40px 0 120px;
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 5rem 0;
    }
}

.section:nth-child(2n) {
    background-color: var(--blue);
}

.section:nth-child(2n - 1) {
    background-color: var(--black);
}

.section:first-child {
    background-image: url("../img/section-1-effect.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 150px;
}

.section:nth-child(1) .description {
    max-width: 600px;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
    .section:nth-child(1) .description {
        /*font-size: max(4.025vw, 1rem);*/
        font-size: 1rem;
    }
}

.button {
    background-color: var(--orange);
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 10px;
    letter-spacing: 1.6px;
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    .section:first-child .button {
        background-color: var(--blue);
    }
}

.section:not(.section:first-child) .title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 26.25rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: transparent;
}

/* -------------- SECTION 2 -------------- */

.section:nth-child(2) .title {
    -webkit-text-stroke: 4px var(--black);
    text-indent: -1.5rem;
}

@media screen and (max-width: 1919px) {
    .section:nth-child(2) .title,
    .section:not(.section:first-child) .title {
        font-size: 21vw;
    }
}

@media screen and (max-width: 1280px) {
    .section:nth-child(2) .title,
    .section:not(.section:first-child) .title {
        /*font-size: 11.5vw;*/
    }
}

@media screen and (max-width: 1540px) {
    .section:nth-child(2) .title,
    .section:not(.section:first-child) .title
    {
        text-indent: -1.25rem;
    }
}

@media screen and (max-width: 1024px) {
    .section:nth-child(2) .title,
    .section:not(.section:first-child) .title
    {
        -webkit-text-stroke-width: 1px;
        font-size: 24.2vw;
        margin-bottom: 3rem;
        text-indent: initial;
    }
}

.section:nth-child(2) .description {
    font-size: 3.225rem;
    text-transform: uppercase;
    transform: translateY(calc(-3.625rem - 1.25rem));
}

@media screen and (max-width: 1024px) {
    .section:nth-child(2) .description {
        /*font-size: max(5vw, 1.25rem);*/
        font-size: 1.25rem;
        line-height: 1.15;
        font-weight: 400;
        transform: none;
    }
}

.section:nth-child(2) {
    padding-bottom: calc(120px - 3.625rem - 1rem - 0.25rem);
}
@media screen and (max-width: 1024px) {
    .section:nth-child(2) {
        padding-bottom: 5rem;
    }
}

/* -------------- END SECTION 2 -------------- */


/* -------------- SECTION 3 -------------- */

.section:nth-child(3) .title {
    font-size: 19.75rem;
    color: transparent;
    -webkit-text-stroke: 4px var(--white);
}

/* -------------- COURSE -------------- */
.courses {
    margin-top: -30px;
}

@media screen and (max-width: 1024px) {
    .courses {
        margin-top: 0;
    }
}

.course {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
}

.course:first-child .text {
    /*margin-top: 120px;*/
}

.course:nth-child(2n) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1024px) {
    .course,
    .course:nth-child(2n)
    {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    .course:last-child {
        margin-bottom: 0;
    }
}

.course .text {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .course .text {
        width: 100%;
        order: 2;
    }
}

.course .course-title {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .course .course-title {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}

.course .descriptions {
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
    .course .descriptions {
        margin-bottom: 4rem;
    }
}

.course .description {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .course .description {
        margin-bottom: 1.25rem;
    }
}

.course .description:last-child {
    margin-bottom: 0;
}

.course:nth-child(2n-1) .button {
    background-color: var(--blue);
}


@media screen and (max-width: 1024px) {
    .course .button,
    .course:nth-child(2n-1) .button
    {
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 0;
    }
}

.course .course-img-wrp {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
    .course .course-img-wrp {
        width: 100%;
    }
}

.course:nth-child(2n) .course-img-wrp {
    justify-content: flex-start;
}

.course .course-img {
    display: block;
    width: 100%;
    max-width: 625px;
    min-width: 400px;
}

@media screen and (max-width: 1024px) {
    .course .course-img {
        display: block;
        width: 100%;
        max-width: initial;
        min-width: initial;
    }
}
/* -------------- END COURSE -------------- */


/* -------------- END SECTION 3 -------------- */


/* -------------- SECTION 4 -------------- */

.section:nth-child(4) {
    min-height: 800px;
    background-image: url("../img/footer-logo.png");
    background-repeat: no-repeat;
    background-position: right 20% bottom 30%;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .section:nth-child(4) {
        overflow: initial;
        background: var(--blue);
    }
}

@media screen and (max-width: 575px) {
    .section:nth-child(4) {
        min-height: initial;
    }
}

.section:nth-child(4) .description {
    max-width: 725px;
    /*font-size: 3.625rem;*/
    font-size: 3.5vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

@media screen and (max-width: 1024px) {
    .section:nth-child(4) .description {
        font-size: max(8vw, 2rem);
    }

    .form {
        margin-bottom: 3rem;
    }
}

.section:nth-child(4) .label {
    width: 550px;
    /*width: 455px;*/
    border: var(--black) solid 3px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    padding: 15px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .section:nth-child(4) .label {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .section:nth-child(4) .label {
        padding: 5px;
    }
}

.section:nth-child(4) .input {
    width: 100%;
    max-width: 325px;
    /*max-width: 240px;*/
    font-size: 1.375rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
    height: 100%;
    display: inline-block;
    padding: 10px 0;
    margin-left: 15px;
    letter-spacing: 0;
    color: var(--white);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 20%);
}

@media screen and (max-width: 1024px) {
    .section:nth-child(4) .input {
        font-size: 0.875rem;
        margin: 0;
        padding: 15px 0;
    }
}

.section:nth-child(4) .input::placeholder {
    color: rgba(255, 255, 255, 60%);
}

.section:nth-child(4) .submit-button {
    color: var(--white);
    background-color: var(--black);
    font-weight: 700;
    padding: 15px 25px;
    border: none;
    border-radius: 16px;
    letter-spacing: 1.6px;
    position: absolute;
    right: 15px;
}

@media screen and (max-width: 1024px) {
    .section:nth-child(4) .submit-button {
        font-size: 0.875rem;
        padding: 10px 15px;
    }
}

.section:nth-child(4) .social-media-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section:nth-child(4) .social-media {
    display: flex;
    gap: 3.625rem;
}

.section:nth-child(4) .social-icon {
    width: 3.75rem;
    height: 3.75rem;
}

@media screen and (max-width: 1024px) {
    .section:nth-child(4) .social-media {
        flex-direction: row;
    }

    .section:nth-child(4) .social-icon {
        width: 3rem;
        height: 3rem;
    }
}

.section:nth-child(4) ul, .section:nth-child(4) li {
    list-style: none;
    padding: 0;
    color: var(--white);
}

.section-4-content-wrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .section-4-content-wrp {
        flex-direction: column;
    }
}

/* -------------- END SECTION 4 -------------- */

.footer-effect-wrp {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.footer-effect {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 14vw;
    text-transform: uppercase;
    transform: translateY(10px);
    line-height: 1;
}

@media screen and (max-width: 1024px) {
    .footer-effect {
        transform: translateY(5px);
    }
}

/* --- Burger icon --- */
.burger-icon {
    width: 24px;
    height: 24px;
    /*background-color: red;*/
    display: none;
}

.burger-icon span {
    width: 100%;
    height: 3px;
    /*margin-bottom: 8px;*/
    background-color: var(--white);
    display: block;
    border-radius: 2px;
}

@media screen and (max-width: 1024px) {

    .burger-icon {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .burger-icon {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: opacity ease 0.5s;
    }

    .burger-icon.active span {
        content: '';
        top: 11px;
        position: absolute;
        display: block;
        width: 24px;
        height: 3px;
        background: var(--white);
    }

    .burger-icon.active span:nth-child(1) {
        transform: rotate(45deg);
    }

    .burger-icon.active span:nth-child(2) {
        display: none;
    }

    .burger-icon.active span:nth-child(3) {
        transform: rotate(-45deg);
    }
}

.modal {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-description {
    max-width: 570px;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #8B8986;
    padding-bottom: 1rem;
    color: var(--white);
}

@media screen and (max-width: 1024px) {
    .modal-description {
        font-size: 1.25rem;
    }

    .modal-description-wrp {
        padding: 0 15px;
    }
}

.modal .close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity ease 0.5s;
    border: none;
    background-color: transparent;
}

.modal .close-button span {
    content: '';
    top: 11px;
    position: absolute;
    display: block;
    width: 24px;
    height: 3px;
    background: var(--white);
}

.modal .close-button span:nth-child(1) {
    transform: rotate(45deg);
}

.modal .close-button span:nth-child(2) {
    transform: rotate(-45deg);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
